.projects-container {
  width: 90%;
  margin: 0 auto;

  .project-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
      0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    overflow: hidden;

    @include mobile {
      margin-bottom: 40px;
    }

    .project-screenshot {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;

      @include mobile {
        display: none;
      }
    }

    .project-background {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 75%;
      background: url('../images/project-background-white.svg');
      background-size: cover;

      @include mobile {
        display: none;
      }
    }

    .project-content {
      padding: 60px;
      width: 40%;
      z-index: 2;
      transition: all 0.5s ease;

      @include mobile {
        width: 100%;
        padding: 35px;
        box-sizing: border-box;
      }

      h3 {
        font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
        font-weight: 500;
        font-size: 1.8em;
        line-height: 38px;
        color: $grey;
        margin-top: 0;
        margin-bottom: 35px;
      }

      .project-links {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        flex-wrap: wrap;

        .project-link {
          margin: 10px 20px 0 0;
          white-space: nowrap;
          display: inline-block;
          height: 40px;
          line-height: 40px;
          padding: 0 14px;
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          text-decoration: none;
          transition: all 0.15s ease;
          color: #fff;
          background: $purple;
          font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
          font-size: 0.9em;
          font-weight: 600;

          &:hover {
            background: $fadedBlue;
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
              0 3px 6px rgba(0, 0, 0, 0.08);
          }
        }
      }

      p {
        font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
        margin-bottom: 30px;
        line-height: 27px;
        color: $grey;

        a {
          text-decoration: none;
          color: $purple;
          position: relative;
          font-weight: bold;

          &:hover {
            background-color: $linkTeal;
          }
        }
      }
      .project-skills {
        display: flex;
        flex-wrap: wrap;

        .project-skill {
          border-radius: 4px;
          border: solid 2px $highlighterGreen;
          padding: 8px;
          margin-right: 10px;
          margin-bottom: 10px;
          font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
          font-size: 0.85em;
          color: $grey;
        }
      }
    }
  }
}
